html {
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    background: url('./assets/images/background.jpg') no-repeat fixed center;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;

    .title {
        text-shadow: 2px 2px 0 #ffffff;
    }
}
